
* {
margin: 0px;
padding: 0px;
}

body {
    text-align: center;

     background: url("../imagenes_video/Vodafone-Giants.jpg");

    font-family:  Arial, sans-serif;

}


#agrupar {
 width: 960px;
 margin: 15px  auto;
}


section h1, footer h1, aside h3, article h3

{
    font-family:  bold verdana, sans-serif; h1 25px; h2 14px; h3 13px;
    font-weight: normal;
    margin-bottom: 2%;

}




#cabecera
{   padding: 20px;
    background: url('../imagenes_video/logo-giants-lettering.svg') no-repeat;
}


nav
{
    padding: 5px 15px;
    background-color:#251E1C;
}

nav li
{
    color: red;
    text-decoration: underline;
    display: inline-block;
    list-style: none;
    padding: 5px;
    
}
nav a{
    color: white;
     }

nav a:hover
{
    color: red;   
}


section {
float: left;
width: 660px; 
margin: 20px
} 

article, aside
{
    display: inline-block;
    
}

article
{
color: white;
background-color:darkgray;
border: 1px solid #999999;
padding: 20px;
margin-bottom: 15px;
}
article p
{
    padding-left: 150px;
    padding-right: 50px;
    text-align: left;
    font-size: 0.8em;

}
figure{
    clear: left;
    
    margin-left: none;
    margin-right: none;
    width: 100%;
}
figure img{
    margin-top: 25%;
    width: 500px; 
    height: :300px;
    margin-left: auto;
    margin-right: auto;
}



aside
{
float:left;
width: 220px;
margin: 20px 0px;
padding: 20px;
background-color: #251E1C;
box-shadow: 0px 2px 5px #1c1a19;

font-family: sans-serif;
text-align: center;
color: white;
font-size: 0.9em;

}

aside h2 {
 padding: 1px 1px 30px 1px;
}

aside div{
    padding: 15px 30px;
    border-radius: 8px;
}


/*FORMULARIO*/
#formu{
    width: 60%;
}   
form{
width: 80%; 

}
form p{
    margin-bottom: 3%;
}
.cuadrado{
    margin:5%;
}


footer
{
color: white;
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999; 
font-size: 0.8em;
font-family: sans-serif;
}